{% extends "bootstrap/base.html" %}


{% block head %}
  {{ super() }}
  	<!-- include libraries(jQuery, bootstrap) -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">



    <link href="https://calendar-template.herokuapp.com/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="https://calendar-template.herokuapp.com/css/bootdatetime.min.css">

{% endblock %}


{% block scripts %}


  {{ super() }}



	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>



	<script src="https://calendar-template.herokuapp.com/js/jquery.steps.min.js"></script>

    <script type="text/javascript"
     src="https://calendar-template.herokuapp.com/js/boot.min.js">
    </script>
    <script type="text/javascript"
     src="https://calendar-template.herokuapp.com/js/bootdatetime.min.js">
    </script>
    <script type="text/javascript"
     src="https://calendar-template.herokuapp.com/js/date.pt-BR.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'es-AR'
      });
    </script>
    <script type="text/javascript">
      $('#datetimepicker2').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'es-AR'
      });
    </script>

  	<script type="text/javascript">
  		$(document).ready(function() {
		  $('#summernote').summernote();
		});
  	</script>

{% endblock %}




	<!-- DATETIME PICKER -->


 {% block content %}
	
	<form method="post" action="#" >
	  <p>Título:</p>
	  <input type="text" name="title"></ins>

	  <p>Empieza</p>
	    <div id="datetimepicker" class="input-append date">
	      <input type="text" name="start"></input>
	      <span class="add-on">
	        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	      </span>
	    </div>
   	  <p>Termina</p>
	    <div id="datetimepicker2" class="input-append date">
	      <input type="text" name="end"></input>
	      <span class="add-on">
	        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	      </span>
	    </div>

  	  <p>Lugar:</p>
	  <input type="text" name="lugar"></ins>

	  <p>Detalle:</p>
	  <textarea id="summernote" name="detail"></textarea>
	  <input type="submit" value="GET URL!">
	</form>


 {% endblock %}
